$black:#000;
$white: #fff;
$light-gray: #f1f1f1;

$background-color: #FBFAF8;
$foreground-color1: rgba(177, 172, 172, 0.844);
$caption-color1: #3F4E55;
$accent-color1: #848484e1;
$link-color1: #C02222