body{
    background-color: rgb(184, 184, 184);
    color: rgba(57, 57, 57, 0.844);
    
}
div{
    max-width: 600px;
    margin: auto;
}
.Sec{
    max-width: 700px;
    margin: auto;
    background-color: rgb(237, 237, 237);
    margin-top: 25px;
}
table{
    margin: auto;
}
.Thead{
    text-align: left;
}
.End{
    text-align: center;
}
.Exp{
    text-align: center;
    max-width: 360px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Explore{
    background-color: darkgray;
    color: white;
    font-size: 20px;
}
.Lea{
    text-align: center;
    max-width: 300px;
    margin-top: 20px;
    margin-bottom: 35px;
    
}
.Learn{
    background-color: darkgray;
    color: white;
    font-size: 20px;
}
.Name{
    font-size: 18px;
}
.Fir{
    font-size: 35px;
}
.Besh{
    margin-top: 10px;
}
.Tb{
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    padding-top: 40px;
    padding-bottom: 40px;
}
.logo{
    font-size: 20px;
    color: lightskyblue;
}